<div class="col-md-12">
  <table class="table table-bordered">
    <thead>
      <th>#</th>
      <th>Time</th>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <td><%= link_to(order.id, order_path(order.token)) %></td>
      <td><%= order.created_at.to_s(:long)%></td>
      <% end %>
    </tbody>

  </table>
</div>
